<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="student.uts.edu.au.baristabrosapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Barista Brothers"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat">
        <activity android:name=".Email"></activity>
        <activity android:name=".NewName" />
        <activity android:name=".UpdateAddress" />
        <activity android:name=".PaymentActivity" />
        <activity android:name=".HomePageActivity" />
        <activity android:name=".CategoryActivity" />
        <activity android:name=".ItemActivity" />
        <activity android:name=".ViewItemActivity" />
        <activity android:name=".SellActivity" />
        <activity android:name=".WishlistActivity" />
        <activity android:name=".CartActivity" />
        <activity android:name=".BuyHistoryActivity" />
        <activity android:name=".SellHistoryActivity" />
        <activity android:name=".SettingsActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".ForgetPasswordActivity" />
        <activity android:name=".RegistrationActivity" />
        <activity android:name=".Registration2Activity" />
        <activity android:name=".AdminLoginActivity" />
        <activity android:name=".AdminHomePageActivity" />
        <activity android:name=".AdminViewActivity" />
        <activity android:name=".AdminItemActivity" />
        <activity android:name=".AdminCategoryActivity" />
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>