<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="student.uts.edu.au.baristabrosapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Barista Brothers"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat">
        <activity
            android:name=".HomePageActivity"
            >
        </activity>
        <activity android:name=".CategoryActivity">
        </activity>
        <activity android:name=".ItemActivity"></activity>
        <activity android:name=".SellActivity"></activity>
        <activity android:name=".WishlistActivity"></activity>
        <activity android:name=".CartActivity"></activity>
        <activity android:name=".BuyHistoryActivity"></activity>
        <activity android:name=".SellHistoryActivity"></activity>
        <activity android:name=".SettingsActivity"></activity>
        <activity android:name=".MainActivity"></activity>
        <activity android:name=".ForgetPasswordActivity" />
        <activity android:name=".RegistrationActivity" />
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>